<section>
  <div class="subheader">About me</div>
  <div>
    <p>Hi, I'm Zeke. I'm a software developer seeking a full-time position as a full-stack, frontend or backend engineer (as of September 2020). I'm also a dad and a nutrition nerd. In a past life, I worked as a journalist in Russia and as an editor of publications about M&A and private equity.</p>
    <p>I enjoy building data-driven web applications with excellent UI and a strong practical purpose for end-users. I also like technical challenges and learning how to use new tools and libraries. I highly value robust testing.</p>
    <p>In spring 2020, I completed an internship at fintech startup <a href="https://retirable.com/">Retirable</a>, where I created front-end UI components using React and TypeScript as well as back-end queries with GraphQL, Rails, and PostgreSQL.
    </p>
    <p>I'm now working as an independent developer. I worked with a partner to create a custom <a href="https://tree-company.herokuapp.com/">e-commerce site</a> from scratch for construction sign provider The Tree Company. And I'm currently developing a web app called <a href="https://www.fambly.io/">Fambly</a> that will allow users to store and organize information about friends, family and social contacts.</p>
  </div>
</section>