{% assign email = site.email %}
{% assign github_url = site.social_media.github %}
{% assign linkedin_url = site.social_media.linked_in %}

<section>
  <div class="subheader">Contact</div>
  <div class="contact-grid">
    <div class="contact-logo at_symbol"></div>
    <div class="email-text">{{ email }}</div>
    <a href="{{ github_url }}">    
      <div class="contact-logo github">
      </div>
    </a>
    <div class="github-text">
      <a href="{{ github_url }}">Github</a>
    </div>
    <a href="{{ linkedin_url }}">
      <div class="contact-logo linkedin">
      </div>
    </a>
    <div class="linkedin-text">
      <a href="{{ linkedin_url }}">LinkedIn</a>
    </div>
  </div>
</section>
