<section>
  <div class="subheader">Skills*</div>
  <div class="logo-container">
    <div class="javascript logo"></div>
    <div class="typescript logo"></div>
    <div class="ruby logo"></div>
    <div class="rails logo"></div>
    <div class="react logo"></div>
    <div class="redux logo"></div>
    <div class="graphql logo"></div>
    <div class="aws logo"></div>
    <div class="docker logo"></div>
  </div>
  <div class="skills-description">*JavaScript, TypeScript, Ruby, Rails, React, Redux, GraphQL, AWS, Docker</div>
</section>